@media (min-width: 1201px) {
    .homer {
        width: 295px;
        height: 295px;
        background: url(homer.jpg) -12px -12px
    }
}

@media (min-width: 801px) 
   and (max-width: 1200px) {
    .homer {
        width: 295px;
        height: 295px;
        background: url(homer.jpg) -319px -12px
    }
}

@media (min-width: 401px) 
   and (max-width: 800px) {
    .homer {
        width: 295px;
        height: 295px;
        background: url(homer.jpg) -12px -319px
    }
}

@media (max-width: 400px) {
    .homer {
        width: 295px;
        height: 295px;
        background: url(homer.jpg) -319px -319px
    }
}